# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log*
lerna-debug.log*
package-lock.json
yarn.lock

# Compiled output
dist/
build/
*.min.js
*.min.css

# Logs and databases
logs
*.log
*.sqlite
*.sqlite3
.pnpm-debug.log*

# Output of 'npm pack'
*.tgz

# Optional npm cache directory
.npm

# testing
coverage/

# Dependency directories
bower_components/

# Editor/IDE-specific files
.vscode/
.settings/
*.code-workspace


# OS-specific files
.DS_Store
Thumbs.db


# Miscellaneous
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
.github/
creds.json

# Ignore local configuration files
config.js
config.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock